{% extends 'base.html.twig' %}

{% block verticallyCenter %}

	<div class="card">
		<div class="card-body rounded border border-primary">
			<h1 class="card-title mb-5 d-flex align-items-center">
				<ion-icon name="musical-notes-outline" class="mr-2"></ion-icon>
				<span>My band :
					{{ band.name }}</span>
			</h1>
			<div class="mb-2 d-flex justify-content-between align-items-center">
				<div>
					<a href="{{ path('bands_edit', { band : band.id }) }}">
						Rename the band
					</a>
					<a class="ml-2" href="{{ path('members_manage', { band : band.id }) }}">
						Manage members
					</a>
				</div>
				<a class="mr-2" href="{{ path('songs_create', { band : band.id }) }}">
					Create a song
				</a>
			</div>
			<div>
				{% if band.songs|length == 0 %}
					<p>
						You don't have any songs!
					</p>
				{% else %}

					<form id="pagination-form" method="POST">

						<div class="input-group mb-3">
							<div class="input-group-prepend">

								<span class="input-group-text" id="inputGroup-sizing-default">
									<ion-icon name="search-outline"></ion-icon>
								</span>
							</div>
							<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="song_search" placeholder="Search" value="{{ search }}">
						</div>
						{% if songs|length == 0 %}
							<p>
								No sound matches with your request!
							</p>
						{% else %}
							<ul class="list-group">
								{% for song in songs %}
									<li onclick="location.href = '{{ path('songs_one', { song : song.id, band : song.band.id }) }}';" class="list-group-item d-flex justify-content-between align-items-center clickable-el">

										<span class="d-flex align-items-center">
											<ion-icon name="musical-note-outline" class="mr-3"></ion-icon>
											<span>
												{{ song.songName|e }},
												{{ song.groupName|e }}
											</span>
										</span>
									</li>
								{% endfor %}
							</ul>
							{{ include('components/pagination.html.twig', { items: songs}) }}
						{% endif %}
					</form>
				{% endif %}
			</div>

		</div>
	</div>

{% endblock %}

{% block javascripts %}

	{{ parent() }}
	{{ encore_entry_script_tags('js/pagination') }}

{% endblock %}
