{% extends 'base.html.twig' %}

{% block verticallyCenter %}


	<div class="card">
		<div class="card-body rounded border border-primary">
			<h1 class="card-title d-flex align-items-center">
				<ion-icon name="musical-notes-outline" class="d-sm-inline d-none mr-2"></ion-icon>
				<span>My song :
					{{ song.songName }}</span>
			</h1>
			<h2 class="card-subtitle text-muted">
				{{ song.groupName }}
			</h2>
			<div class="d-flex justify-content-end align-items-center">
				<a href="{{ path('songs_edit', { song : song.id, band : song.band.id }) }}">
					Edit the song
				</a>
			</div>
			<div class="card-body">
				<h2 class="card-subtitle mb-3">Capo :
					{{ song.capo }}</h2>
				<p class="card-text">
					{{ song.content | nl2br }}
				</p>
			</div>
		</div>

	{% endblock %}
